/* Site footer */

#colophon {
	background-color:$color__teal;
	
	width: 100%;
	
	.widget-area,
	.site-info {
		margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit;

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) $size__site-margins;
		}
	}

	.widget-column {
		display: flex;
		flex-wrap: wrap;
		.widget {
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			width: 100%;
			word-wrap: break-word;
			@include media(desktop) {
				margin-right: calc(3 * #{$size__spacing-unit});
				width: calc(50% - (3 * #{$size__spacing-unit}));
			}
		}
	}

	.site-info {
		color: $color__text-light;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
		display:flex;
		flex-direction:column;
		@media only screen and (min-width: $tablet){
			display:grid;
			grid-template-columns: 150px minmax(165px, 1fr) 3fr;
			grid-gap:15px;
		}
		.site-logo{
			display:block;
			max-width:150px;
			@media only screen and (min-width:$tablet){
				align-self:center;
			}
		}
		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
				color: #fff;
			}
		}
		address{
			padding:1rem 0;
			@media only screen and (min-width:$tablet){
				padding:0;
				align-self:center;
			}
		}
		.footer-navigation{
			@media only screen and (min-width:$tablet){
				align-self:Center;
			}
		}
		.imprint,
		.privacy-policy-link {
			margin-right: $size__spacing-unit;
		}
	}
}