// Site header

.site-header {
	padding: 1em;

	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		//min-height: 90vh;

		.site-branding-container {
			margin-bottom: auto;
			width:100%;
		}
	}
	.site-branding-container{
		width:100%;
		display:flex;
		flex-direction:column;
		@media only screen and (min-width:$large-tablet){
			flex-direction:row;
			justify-content:space-between;
		}
		.site-branding {
			display:flex;
			align-items: center;
			justify-content: space-between;
			@media only screen and (min-width:$large-tablet){
				display:block;
			}
			.site-logo .custom-logo-link{
				display:block;
				width:130px;
			}
			.menu-toggle{
				display:block;
				@media only screen and (min-width:$large-tablet){
					display:none;
				}
			}
		}
		.site-title{display:none;}
		.nav-list{
			display: none;
			flex-direction:column;
			width: 100%;
			justify-content: space-around;
			list-style: none;
			font-size: .8rem;
			align-items: center;
			max-width:750px;
			text-align:center;
			&.show{display:flex;}
			@media only screen and (min-width:$large-tablet){
				display:flex;
				flex-direction:row;
				text-align:left;
			}
			
		}
	}
}

//menu styles
.sub-menu {
	list-style: none;
	display: none;
	position:relative;
	z-index:1;
	background-color:transparent;
	padding:0;
	@media only screen and (min-width:$tablet){
		position: absolute;
		z-index: 3;
		background-color: #fff;
		padding: 10px 15px;
	}
	li{
		padding:5px 0;
	}
}
ul.nav-list li.menu-item.menu-item-has-children:hover ul.sub-menu,
ul.nav-list li.menu-item.menu-item-has-children:focus ul.sub-menu{
	@media only screen and (min-width:$large-tablet){
		display:block;	
	}
}
.show{display:block; opacity:100%}
.hide{display:none; opacity:0;}